.hd_nav LI {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_bg_standard_001.gif) no-repeat 0px 10px; COLOR: #7e7e7e
}
.hd_nav LI A {
	COLOR: #7e7e7e
}
.hd_nav LI A:visited {
	COLOR: #7e7e7e
}
.hd_nav LI A:hover {
	COLOR: #c00
}
.hd_nav LI A:active {
	COLOR: #c00
}
.blkTopGoogleSearch {
	BORDER-BOTTOM: #eee 1px solid
}
.blkChannelLogo {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_bg_standard_001.gif) no-repeat right -47px
}
.Main {
	BORDER-TOP: #c8d8f2 1px solid; BACKGROUND: url(https://i2.sinaimg.cn/dy/news/2008/0708/con_bg_standard_002.gif) repeat-y 0px 0px
}
.blkContainerSblk H1 {
	BORDER-BOTTOM: #c8d8f2 1px solid
}
.artInfo A {
	COLOR: #c00
}
.artInfo A:visited {
	COLOR: #c00
}
.artInfo A:hover {
	COLOR: #f00
}
.artInfo A:active {
	COLOR: #f00
}
.blkContainerPblk {
	BACKGROUND: #f5f8fd
}
.blkComment {
	BORDER-BOTTOM: #c8d8f2 1px dashed
}
A.blkCommentLinkPost {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_bg_standard_001.gif) no-repeat 0px -99px
}
.blkOtherFunction {
	BORDER-TOP: #c8d8f2 1px solid
}
.blkOtherFunction_1 {
	BORDER-RIGHT: #c8d8f2 1px solid
}
.blkOtherFunction_2 {
	BORDER-RIGHT: #c8d8f2 1px solid
}
.blkOtherFunction_3 {
	BORDER-RIGHT: #c8d8f2 1px solid
}
.blkOtherFunction_4 {
	BORDER-RIGHT: #c8d8f2 1px solid
}
.blkOtherFunction_5 {
	BORDER-RIGHT: #c8d8f2 1px solid
}
.blkPhoneNum {
	COLOR: #636161
}
.blkMessageBoard A {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_bg_standard_001.gif) no-repeat 0px -148px
}
.blkContentFooter {
	BORDER-TOP: #c8d8f2 1px solid; COLOR: #626262
}
.blkContentFooter A {
	COLOR: #626262
}
.blkContentFooter A:visited {
	COLOR: #626262
}
.blkContentFooter A:hover {
	COLOR: #c00
}
.blkContentFooter A:active {
	COLOR: #c00
}
.moduleImgTxt01 {
	BORDER-RIGHT: #c8d8f2 1px solid; BORDER-TOP: #c8d8f2 1px solid; BORDER-LEFT: #c8d8f2 1px solid; BORDER-BOTTOM: #c8d8f2 1px solid
}
.moduleImgTxt01Txt H3 {
	BORDER-BOTTOM: #c8d8f2 1px dashed
}
.moduleImgTxt01Txt H3 A {
	PADDING-LEFT: 5px; COLOR: #2c4ebb
}
.moduleImgTxt01Txt A:visited {
	PADDING-LEFT: 5px; COLOR: #2c4ebb
}
.moduleImgTxt01Txt H3 A:hover {
	COLOR: #c00
}
.moduleImgTxt01Txt H3 A:active {
	COLOR: #c00
}
.blkVideoLink A {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_bg_standard_001.gif) no-repeat 0px -200px
}
.blkVideoLink A:hover {
	BACKGROUND-POSITION: 0px -350px
}
.blkVideoLink A:active {
	BACKGROUND-POSITION: 0px -350px
}
.blkVideoLinkNews A {
	BACKGROUND: url(https://i0.sinaimg.cn/dy/deco/2008/0723/con_bg_standard_005.gif) no-repeat 0px 0px
}
.blkVideoLinkNews A:hover {
	BACKGROUND-POSITION: -150px 0px
}
.blkVideoLinkNews A:active {
	BACKGROUND-POSITION: -150px 0px
}
.moduleNewsImgTxt01 {
	BORDER-RIGHT: #c8d8f2 1px solid; BORDER-TOP: #c8d8f2 1px solid; BACKGROUND: #fff; BORDER-LEFT: #c8d8f2 1px solid; BORDER-BOTTOM: #c8d8f2 1px solid
}
.moduleNewsImgTxt01_Tm_Ti {
	BACKGROUND: url(https://i0.sinaimg.cn/dy/deco/2008/0723/con_bg_standard_001.gif) no-repeat 0px -940px
}
.moduleNewsImgTxt01_Tm_Ti H3 {
	BORDER-TOP: #c8d8f2 1px dashed; BORDER-BOTTOM: #c8d8f2 1px dashed
}
.moduleNewsImgTxt01_Tim .moduleNewsImgTxt01_Tm_Ti H3 {
	BORDER-BOTTOM-STYLE: none
}
.moduleNewsImgTxt01_Pim .moduleNewsImgTxt01_Tm_Ti H3 {
	BORDER-BOTTOM-STYLE: none
}
.moduleNewsImgTxt01_Pm .moduleNewsImgTxt01_Tm_Ti H3 {
	BORDER-BOTTOM-STYLE: none
}
.moduleNewsImgTxt01_Tm_List LI {
	BORDER-BOTTOM: #c8d8f2 1px dashed
}
.moduleNewsImgTxt01_Tm_List LI .liTi {
	BORDER-LEFT: #c8d8f2 1px solid
}
.moduleNewsImgTxt01_Tim_Tl {
	
}
.moduleNewsImgTxt01_Tim_Il_01_I A IMG {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.moduleNewsImgTxt01_Tim_Il_01_I A:hover IMG {
	BORDER-RIGHT: #81a0d1 1px solid; BORDER-TOP: #81a0d1 1px solid; BORDER-LEFT: #81a0d1 1px solid; BORDER-BOTTOM: #81a0d1 1px solid
}
.moduleNewsImgTxt01_Tim_Il_01_I A:active IMG {
	BORDER-RIGHT: #81a0d1 1px solid; BORDER-TOP: #81a0d1 1px solid; BORDER-LEFT: #81a0d1 1px solid; BORDER-BOTTOM: #81a0d1 1px solid
}
.moduleNewsImgTxt01_Tim_Il_01 P {
	COLOR: #666
}
.moduleNewsImgTxt01_Tim_Il_01_V A {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_bg_standard_001.gif) no-repeat 0px -550px
}
.moduleNewsImgTxt01_Tim_Il_01_V A:hover {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_bg_standard_001.gif) no-repeat 0px -750px
}
.moduleNewsImgTxt01_Tim_Il_01_V A:active {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_bg_standard_001.gif) no-repeat 0px -750px
}
.moduleNewsImgTxt01_Tim_Il_01_D A IMG {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.moduleNewsImgTxt01_Tim_Il_01_D A:hover IMG {
	BORDER-RIGHT: #81a0d1 1px solid; BORDER-TOP: #81a0d1 1px solid; BORDER-LEFT: #81a0d1 1px solid; BORDER-BOTTOM: #81a0d1 1px solid
}
.moduleNewsImgTxt01_Tim_Il_01_D A:active IMG {
	BORDER-RIGHT: #81a0d1 1px solid; BORDER-TOP: #81a0d1 1px solid; BORDER-LEFT: #81a0d1 1px solid; BORDER-BOTTOM: #81a0d1 1px solid
}
.moduleNewsImgTxt01_Pim {
	
}
.moduleNewsImgTxt01_Pim_IL_blk A IMG {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.moduleNewsImgTxt01_Pim_IL_blk A:hover IMG {
	BORDER-RIGHT: #81a0d1 1px solid; BORDER-TOP: #81a0d1 1px solid; BORDER-LEFT: #81a0d1 1px solid; BORDER-BOTTOM: #81a0d1 1px solid
}
.moduleNewsImgTxt01_Pim_IL_blk A:active IMG {
	BORDER-RIGHT: #81a0d1 1px solid; BORDER-TOP: #81a0d1 1px solid; BORDER-LEFT: #81a0d1 1px solid; BORDER-BOTTOM: #81a0d1 1px solid
}
.moduleGoTopic {
	BORDER-RIGHT: #81a0d1 1px solid; BORDER-TOP: #81a0d1 1px solid; BACKGROUND: #ddeffd; BORDER-LEFT: #81a0d1 1px solid; COLOR: #666; BORDER-BOTTOM: #81a0d1 1px solid
}
.MPartA .Mblk_02 {
	BACKGROUND: #f5f9ff
}
.Mblk_01 {
	BORDER-LEFT-COLOR: #d1e3f4; BACKGROUND: #f5f9ff; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_01 .b_left {
	
}
.Mblk_01 .b_right .c_pic IMG {
	BORDER-LEFT-COLOR: #b9cdec; BORDER-BOTTOM-COLOR: #b9cdec; BORDER-TOP-COLOR: #b9cdec; BORDER-RIGHT-COLOR: #b9cdec
}
.Mblk_01 .b_right .c_pic A:hover IMG {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.Mblk_02 {
	BORDER-LEFT-COLOR: #d1e3f4; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_03 {
	BORDER-LEFT-COLOR: #d1e3f4; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_04 {
	BORDER-LEFT-COLOR: #d1e3f4; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_04 .b_box1 {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_05 {
	BORDER-LEFT-COLOR: #d1e3f4; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_05 .line_1 {
	BACKGROUND-POSITION: 4px -45px
}
.Mblk_05 UL {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_06 {
	BORDER-LEFT-COLOR: #d1e3f4; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_07 {
	BORDER-LEFT-COLOR: #d1e3f4; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_08 {
	BORDER-LEFT-COLOR: #d1e3f4; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_08_1 .search {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_08_1 .input_01 {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; COLOR: #7e7e7e; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_08_1 .button_01 {
	BACKGROUND: url(https://i0.sinaimg.cn/dy/news/2008/0708/con_mj_002.gif) no-repeat -150px -400px
}
.Mblk_08_1 TABLE {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_08_1 TD {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_08_1 TH {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Mblk_08_1 .bg {
	BACKGROUND: #f7faff
}
.Mblk_09 {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.Mblk_09 H2 {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.Mblk_09 .b_left {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.Mblk_10 {
	
}
.Mblk_10 H2 {
	BORDER-BOTTOM: #c8d8f2 1px dashed
}
.Mblk_11 {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.Mblk_11 .b_cont1 {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.Mblk_11 .b_cont2 H2 .more {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_bg_standard_001.gif) no-repeat 0px -93px
}
.Mblk_11 .t_info {
	BACKGROUND: url(https://i3.sinaimg.cn/dy/news/2008/0708/con_mj_001.gif) repeat-x 0px -200px
}
.Mblk_12 .line {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.Mblk_12 .b_left {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.Mblk_12 H4 .t_line {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.MTitle_01 {
	BORDER-LEFT-COLOR: #d5e2f3; BACKGROUND: url(https://i3.sinaimg.cn/dy/news/2008/0708/con_mj_001.gif) repeat-x 0px 0px; BORDER-BOTTOM-COLOR: #d5e2f3; BORDER-TOP-COLOR: #d5e2f3; BORDER-RIGHT-COLOR: #d5e2f3
}
.MTitle_01 .menu LABEL {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.MTitle_01 .menu LABEL.selected {
	BACKGROUND: url(https://i0.sinaimg.cn/dy/news/2008/0708/con_mj_002.gif) no-repeat 0px 0px
}
.M_Menu_01 {
	BORDER-LEFT-COLOR: #d5e2f3; BACKGROUND: url(https://i3.sinaimg.cn/dy/news/2008/0708/con_mj_001.gif) repeat-x 0px 0px; BORDER-BOTTOM-COLOR: #d5e2f3; BORDER-TOP-COLOR: #d5e2f3; BORDER-RIGHT-COLOR: #d5e2f3
}
.M_Menu_01 LABEL {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.M_Menu_01 LABEL.selected {
	BACKGROUND: url(https://i0.sinaimg.cn/dy/news/2008/0708/con_mj_002.gif) no-repeat -151px 0px
}
.M_Menu_02 {
	BORDER-LEFT-COLOR: #d5e2f3; BACKGROUND: #f7faff; BORDER-BOTTOM-COLOR: #d5e2f3; BORDER-TOP-COLOR: #d5e2f3; BORDER-RIGHT-COLOR: #d5e2f3
}
.M_Menu_02 LABEL {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.M_Menu_03 {
	BORDER-LEFT-COLOR: #d1e3f4; BACKGROUND: #eff4fa; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.M_Menu_03 LABEL {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.M_Menu_03 LABEL.selected {
	BACKGROUND-POSITION: -150px -350px
}
#GoogleAd {
	BACKGROUND: #fff
}
#GoogleAd .b_cont {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.Ad_01 {
	BORDER-LEFT-COLOR: #d1e3f4; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.topList_02 {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_mj_003.gif) repeat-y 48% 0px
}
.topList_03 {
	BACKGROUND: url(https://i1.sinaimg.cn/dy/news/2008/0708/con_mj_003.gif) repeat-y 49% 0px
}
.histogram .pillar {
	BORDER-LEFT-COLOR: #add0f5; BACKGROUND: #cce6f8; BORDER-BOTTOM-COLOR: #add0f5; BORDER-TOP-COLOR: #add0f5; BORDER-RIGHT-COLOR: #add0f5
}
.c_v_01 .c_pic A {
	BACKGROUND: url(https://i0.sinaimg.cn/dy/news/2008/0708/con_mj_002.gif) no-repeat 0px -200px
}
.c_v_01 .c_pic A:hover {
	BACKGROUND-POSITION: -150px -200px
}
.c_p_01 .c_pic IMG {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.c_p_01 .c_pic A:hover IMG {
	BORDER-LEFT-COLOR: #81a0d1; BORDER-BOTTOM-COLOR: #81a0d1; BORDER-TOP-COLOR: #81a0d1; BORDER-RIGHT-COLOR: #81a0d1
}
.c_pt_01 .c_pic IMG {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.c_pt_01 .c_pic A:hover IMG {
	BORDER-LEFT-COLOR: #81a0d1; BORDER-BOTTOM-COLOR: #81a0d1; BORDER-TOP-COLOR: #81a0d1; BORDER-RIGHT-COLOR: #81a0d1
}
.c_pt_02 .c_pic IMG {
	BORDER-LEFT-COLOR: #c8d8f2; BORDER-BOTTOM-COLOR: #c8d8f2; BORDER-TOP-COLOR: #c8d8f2; BORDER-RIGHT-COLOR: #c8d8f2
}
.c_pt_02 .c_pic A:hover IMG {
	BORDER-LEFT-COLOR: #81a0d1; BORDER-BOTTOM-COLOR: #81a0d1; BORDER-TOP-COLOR: #81a0d1; BORDER-RIGHT-COLOR: #81a0d1
}
.c_t_01 LI {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.c_t_01 LI .time {
	BORDER-LEFT-COLOR: #d1e3f4; BORDER-BOTTOM-COLOR: #d1e3f4; BORDER-TOP-COLOR: #d1e3f4; BORDER-RIGHT-COLOR: #d1e3f4
}
.list_009_f12 LI {
	BACKGROUND-POSITION: 4px -43px
}
.list_009_f14 LI {
	BACKGROUND-POSITION: 4px -41px
}
.tb01 {
	BORDER-RIGHT: #c6d8ee 1px solid; BORDER-TOP: #c6d8ee 1px solid; BACKGROUND: #eef5fd; BORDER-LEFT: #c6d8ee 1px; BORDER-BOTTOM: #c6d8ee 1px; BORDER-COLLAPSE: separate
}
.tb01 TD {
	BORDER-RIGHT: #c6d8ee 1px; PADDING-RIGHT: 5px; BORDER-TOP: #c6d8ee 1px; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #eef5fd; PADDING-BOTTOM: 0px; BORDER-LEFT: #c6d8ee 1px solid; LINE-HEIGHT: 164.28%; PADDING-TOP: 0px; BORDER-BOTTOM: #c6d8ee 1px solid; TEXT-ALIGN: left
}
.tb01 TH {
	BORDER-RIGHT: #c6d8ee 1px; PADDING-RIGHT: 5px; BORDER-TOP: #c6d8ee 1px; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #eef5fd; PADDING-BOTTOM: 0px; BORDER-LEFT: #c6d8ee 1px solid; LINE-HEIGHT: 164.28%; PADDING-TOP: 0px; BORDER-BOTTOM: #c6d8ee 1px solid; TEXT-ALIGN: left
}
.tb01 P {
	FONT-SIZE: 12px; TEXT-ALIGN: left
}
