* {margin:0;padding:0; list-style:none;}
body{background:none; background:none;}
i{display:block;height:20px;clear:both;overflow:hidden}
i.clear{ height:1px;}
p{font-weight:bold;line-height:14px;height:14px;margin:0;padding:4px 0 10px 1px;font-size:12px;}
span{display:block;float:left;height:28px;line-height:28px;width:135px;text-align:left;overflow:hidden;font-size:14px;font-family:Verdana,"宋体";overflow:hidden; white-space:nowrap; text-indent:1px;}
span a{color:#000000;text-decoration:none;}
span a:visited{ color:#35595B;}
span a:hover{text-decoration:underline;color:#FF0000;}
span a img{ position:relative; top:3px; left:2px;}
span a.tomore{ font-family:simsun; font-size:12px; color:#d00;}
p#tab{text-indent:0;clear:both;height:34px;line-height:34px;margin:8px 0 4px 0;padding:0;border-left:1px solid #cdcdcd;background:url("../images/allbgpic.gif") no-repeat left -33px;}
p#tab a{display:block;float:left;width:66px;height:30px;line-height:30px; padding-top:2px;text-align:center;border:1px solid #bebebe;background:#fff url("../images/allbgpic.gif") no-repeat left 2px;font-weight:normal;color:#222222;margin:0 0 0 -1px;cursor:pointer}
p#tab a.thea{font-weight:bold;border-bottom-color:#fff; background:none;}
ul li{display:none;text-align:left}
span em{ position:relative; top:2px; padding:0 0 0 6px; width:16px; height:16px; z-index:1;}
