@charset "utf-8";
*{ margin:0; padding:0; }
body { font: normal 14px Arial, Tahoma, Helvetica, sans-serif; }
ul{ list-style: none; }
img{ border-width: 0px; }
A { COLOR: #000000; TEXT-DECORATION: none }
A:hover { COLOR: #FF0000; TEXT-DECORATION: underline }
.clear{ clear:both; height:0px; width:0px; font-size:0px; line-height:0px; }
#so { width: 876px; margin: 0px auto; }

#ha{ margin: 0px auto; width: 876px; }
#hb{ margin: 0px auto; width: 876px; }
#hb .la{
	line-height: 24px;
	color: #929292;
	font-size: 12px;
	float: left;
}
#hb .lb{ float: right; font-size: 12px; }
#ha .ba{
	color: #4580AB;
	border: 1px solid #CCDBEC;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	font-style: normal;
	background-color: #DEF0FF;
}
#ha .bc{
	line-height: 20px;
	color: #4580AB;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	background-color: #DEF0FF;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCDBEC;
	border-right-color: #CCDBEC;
	border-bottom-color: #CCDBEC;
	border-left-color: #CCDBEC;
}
#ha .bd{
	padding: 25px 0px 25px 190px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCDBEC;
	border-bottom-color: #CCDBEC;
	border-left-color: #CCDBEC;
}
#ha .b1{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCDBEC;
}
#ha .b2{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCDBEC;
}
#ha .b3{
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCDBEC;
	border-left-color: #CCDBEC;
}
#ha .b4{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCDBEC;
}
#ha .b5{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCDBEC;
	border-bottom-color: #CCDBEC;
}
#ha a{
	float: left;
	display: block;
	width: 160px;
	line-height: 31px;
	padding-left: 14px;
	height: 31px;
	background-color: #F9FCFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCDBEC;
	border-bottom-color: #CCDBEC;
}
#floot{ margin: 0px auto; width: 716px; padding: 16px 0px; font: 13px "瀹嬩綋"; }
#floot a{ float: left; display: block; color: #666666; }
#floot .f1{ float: left; text-align: center; width: 20px; color: #CCCCCC; }
#floot .f2{ color: #666666; float: left; display: inline; font-family: "瀹嬩綋"; margin-left: 15px; }

a.bj{
	color: #999999;
	line-height: 24px;
	font-size: 12px;
}
a.ft{ color: #666666; }
a.green { color: #178517; }
a.reds { color: #FF0000; }
