.bg{
	width: 100%;
	background: #14324a url(../images/bg12.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg12{
	background-color: #0C9;
	background-image: url(../images/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
