.bg{
	width: 100%;
	background: #ffed7d url(../images/bg18.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg18{
	background-color: #0C9;
	background-image: url(../images/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
