.bg{
	width: 100%;
	background: #fdc98f url(../images/bg19.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg19{
	background-color: #0C9;
	background-image: url(../images/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
