.bg{
	width: 100%;
	background: #f4e4cd url(../images/bg20.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg20{
	background-color: #0C9;
	background-image: url(../images/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
