.bg{
	width: 100%;
	background: #e81a31 url(../images/bg9.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg9{
	background-color: #0C9;
	background-image: url(../images/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
