body {
	margin: 0 auto;
	padding: 0;
	color: #000;
	font-family: "Microsoft yahei" !important;
	font-size: 12px;
	line-height: 1.5;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style-type: none;

}

form {
	border: 0px;
}
table, td, tr, th {
	font-size: 100%;
}
textarea {
	resize: none;
}
em, cite {
	font-style: normal;
}
hr {
	height: 1px;
	margin: 0px;
	padding: 0px;
	color: #333;
}
/* a */
a {
	color: #666;
	text-decoration: none;
}
a:visited {
	color: #666;
}
a:hover {
	color: #069;
}
a:active {
	color: #005EAC;
}
a.img, img {
	border: 0px;
}
input {
	ime-mode: auto;
}
hr {
	height: 1px;
	color: #ddd;
}
.disp {
	display: none;
}
.center {
	text-align: center;
}
.kg2 {
	text-indent: 28px;
}
.write {
	margin: auto 2px;
	text-decoration: underline;
	cursor: pointer;
	color: black;
}
.nowraper {
	white-space: nowrap;
}
.mousestyle, .hand {
	cursor: pointer;
}
.hand {
	border: 1px solid #ddd;
	background: #eee;
	padding: 3px 10px 0px 10px;
	font-size: 14px;
}
.logohidden {
	visibility: hidden;
	display: hidden;
}
/* 名站单加颜色 */
.top_l_1 {color: #FD7C26}
.top_l_2 {color: #07671B}
.top_l_3 {
	color: #0066FF
}
/* font */
.f12 {
	font-size: 12px;
}
.f13 {
	font-size: 12px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
.f20 {
	font-size: 20px;
}
.f36 {
	font-size: 36px;
}
.cb,.cb a{
	color: #06C;	
	}
.fb {
	font-weight: bold;
	color: #F90;
}
.fb a {
	color: #069;
}
.ft {
	font-weight: bold;
	color: #009999;
}
.ft a {
	color: #009999;
}
.fi {
	font-style: italic
}
.l {
	float: left;
}
.r {
	float: right;
}
.red {
	color: #f30;
}
.gray {
	color: #999;
}
.blue {
	color: #36c;
}
.black {
	color: #000;
}
.m5 {
	margin: 5px;
}
.m10 {
	margin: 10px;
}
.mlr5 {
	margin-left: 5px;
	margin-right: 5px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr50 {
	margin-right: 50px;
}
.ml10 {
	margin-left: 10px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.p5 {
	padding:5px;
}
.p5lr{
	padding:0 5px;
}
.p5l {
	padding: 0 5px 5px 5px;
}
.p10 {
	padding:10px 0;
}
.pr10 {
	padding-right: 10px;
}
.pl10 {
	padding-left: 10px;
}
.pt10 {
	padding-top: 10px;
}
.pb10 {
	padding-bottom: 10px;
}
.h120 {
	line-height: 120%;
}
.h150 {
	line-height: 150%;
}
.h200 {
	line-height:200%;
}
.height250 {
	height: 100%;
	min-height: 200px;
}
.height300 {
	height: 100%;
	min-height: 250px;
}
.w35 {
	width: 35px;
}
.w105 {
	width: 90px;
}
.w84 {
	width: 100px;
}
.w140 {
	width: 140px;
}
.w240 {
	width: 240px;
	height: 100%;
	height: auto;
}
.w250 {
	width: 250px;
}
.w290 {
	width: 290px;
}
.w350 {
	width: 350px;
	height: 100%;
	height: auto;
}
.w280 {
	width: 280px;
}
.w600 {
	width: 600px;
}
.w605 {
	width: 605px;
}
.w700 {
	width: 700px;
}
.w750 {
	width: 750px;
	height: 100%;
	height: auto;
}

.w905 {
	width: 905px;
	height: 100%;
	height: auto;
}


.w910 {
	width: 910px;
	height: 100%;
}
/* body */
#content {
	margin: 0 auto;
}
* html #content {
	overflow: hidden;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	zoom: 1;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
*zoom:1;
}
.clear {
	clear: both;
}
.over {
	overflow: hidden;
}
/* top */
#topbar {
	width:100%;
	height: 100px;
	line-height: 25px;
	text-align: left;
	zoom: 1;
}
#topbar .nav {
	display: block;
	width: 250px;
	height: 100px;
	float: left;
}
#topbar .nav a {
	display: block;
	width: 250px;
	height: 100px;
}
#topbar .nav a:hover {
	color: #fff;
	text-decoration: none;
}
#topbar .nav span.logo {
	display: block;
	width: 250px;
	height: 100px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: left center;
}
#topbar .Tianqi {
	float: left;
	margin-left:60px;
	margin-top: 30px;
}
#topbar .Top_ad {
	width: 200px;
	height: 100px;
	float: right;
	line-height: 100px;
	text-align: center;
}
#topbar .Top_ad img {
	width: 200px;
	height: 100px;
}
#menu {
	min-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
#menu span.baidu {
	display: block;
	width: 140px;
	height: 50px;
	background: url(../images/baidu.gif) no-repeat center center;
}
/* link */
#link {
	width: 860px;
	margin: 0 auto;
	padding: 0px;
	_padding-top: 10px;
	vertical-align: middle;
	text-align: center;
	border-top: 1px solid #ddd;
	background: #f5f5f5;
}
#link .link {
	margin: 5px auto;
}
#link .link a span {
	float: left;
	margin-right: 10px;
}
/* bottom */
#bottom {
	width:100%;
	padding:15px 0;
	text-align: center;
	background-color:#f5f5f5;

}
#bottom .copyright{
	margin: 0 auto;
	padding: 0 auto;
	color:#666;
}
.copyright a{
	color: #069;
}
.tool{
	overflow: hidden;
}
.tool ul li {
	float: left;
	display: block;
	width: 112px;
	height: 28px;
	margin-right: 2px;
	line-height: 30px;
	margin-bottom: 2px;
	text-align: left;
}
.tool ul li a{
	color: #009999;
}


.lanmu{
	overflow: hidden;
}
.lanmu ul li {
	float: left;
	display: block;
	width: 114px;
	height: 30px;
	background-color: #FFCCCC;
	margin-right: 2px;
	line-height: 30px;
	margin-bottom: 2px;
	text-align: center;
}
.lanmu ul li a{
	color: #990000;
}

.gongju{
	overflow: hidden;
}
.gongju ul li {
	float: left;
	display: block;
	width: 114px;
	height: 30px;
	background-color: #f7e2ad;
	margin-right: 2px;
	line-height: 30px;
	margin-bottom: 2px;
	text-align: center;
}
.gongju ul li a{
	color: #CC6600;
}



.list114 {
	width: 168px;
	overflow: hidden;
}
.list114 ol {
	list-style: decimal;
}
.list114 ol li {
	height: auto;
	height: 100%;
	white-space: nowrap;
	line-height: 170%;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
.Bendili{
	height: 35px;
	line-height: 35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f5f5f5;
	}
.Bendili:hover{
	background-color:#f5f5f5;
	}
	
.bluebg {
	overflow: hidden;
	background-color: #f7e2ad;
}

.bluebg2{
	background-color:#ffcccc;
	overflow:hidden;	
	}
.border0 {
	border: 1px solid #fe8802;
	background: #fffae7;
}
.border1 {
	background: #fff;
}
.border2 {
	background: #fff;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #ddd;
	border-bottom-color: #ccc;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #90e6d7;
}
.border3 {
	background: #fff;
}
.border4 {
	background-color: #fff;
}
.border5 {
	background-color: #FFCC66;
}
.border5b {
	background-color:#ef4a6c;
}

.title span,.BoxTit_w span {
	float: right;
	font-weight: normal;
	font-size:12px;
	
}
.title span a,.BoxTit_w span a{
	color:#069;
}

.border6 {
	background-color:#f9f8f8;
	overflow: hidden;
}

.copyright-border {
	border-top: 1px solid #ddd;
}
.header {
	margin: 0 auto;
	padding: 0 auto;
}
.header dl {
	margin: 10px auto;
}
.header dl dt {
	width: 60px;
	float: left;
	display: inline;
	display: block;
	margin: auto 2px;
	text-decoration: none;
	cursor: hand;
	color: black;
}
.header dl dt a {
	text-decoration: none;
}
.content {
	word-break: normal;
	word-wrap: break-word;
	text-align: justify;
	text-justify: inter-ideograph;
}
.title {
	background: #eee;
	height:30px;
	line-height:30px;
	font-weight: bold;
}
.title1 {
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background-color: #5fc6d0;
	background-image: url(../images/icon1.png);
	background-repeat: no-repeat;
	color: #FFF;
	text-indent: -9999px;
}

.title2 {
	width:1000px;
	height: 40px;
	line-height: 40px;
	background-color: #f9f2fa;
	background-image: url(../images/icon5.png);
	background-repeat: no-repeat;
	color: #FFF;

}
.title2 h3{
	float:left;
	text-indent: -9999px;

}






.title3 {
	height: 40px;
	line-height: 40px;
	background-color: #ebfeef;
	background-image: url(../images/icon3.png);
	background-repeat: no-repeat;
	color: #FFF;



}
.title3 h3{
	float:left;
	text-indent: -9999px;
}


.title4 {
	height: 40px;
	line-height: 40px;
	background-color: #fff7ee;
	background-image: url(../images/icon4.png);
	background-repeat: no-repeat;
	color: #FFF;

}
.title4 h3{
	float:left;
	font-size:16px;
	margin-right:80px;
	text-indent: -9999px;
}


.title5 {
	height: 40px;
	line-height: 40px;
	background-color: #feedeb;
	background-image: url(../images/icon2.png);
	background-repeat: no-repeat;
	color: #FFF;

}
.title5 h3{
	float:left;
	font-size:16px;
	margin-right:80px;
	text-indent: -9999px;
}

.title6 {
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background-color: #cdcdcd;
	background-image: url(../images/icon6.png);
	background-repeat: no-repeat;
	color: #333;

}
.title6 h3{
	float:left;
	font-size:16px;
	margin-left:60px;

}
.title6 span{
	float: right;
	margin-right: 10px;
	font-size: 14px;
	font-weight: normal;
	color: #444;
}


.title7 {
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background-color: #d2efe9;
	background-image: url(../images/icon7.png);
	background-repeat: no-repeat;
	color: #258998;

}
.title7 h3{
	float:left;
	font-size:16px;
	margin-left:60px;

}

.title8 {
	height:27px;
	line-height:27px;
	color: #333;
	font-weight: normal;
	padding:0 10px;

}
.title8 h3{
	float:left;
	font-size:16px;
	font-weight: bold;
}
.title8 a{
	color: #666;
	}



.title9 {
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background-color: #08a57a;
	background-image: url(../images/tit3.jpg);
	background-repeat: no-repeat;
	color: #fff;

}
.title9 h3{
	float:left;
	font-size:16px;
	margin-left:60px;

}

.title10 {
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background-color: #55a6dd;
	background-image: url(../images/tit2.jpg);
	background-repeat: no-repeat;
	color: #fff;

}
.title10 h3{
	float:left;
	font-size:16px;
	margin-left:60px;
}


.title11 {
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background-color: #eb3357;
	background-image: url(../images/tit1.jpg);
	background-repeat: no-repeat;
	color: #fff;

}
.title11 h3{
	float:left;
	font-size:16px;
	margin-left:60px;
}

.title_r{
	width: 650px;
	height: 25px;
	line-height: 25px;
	margin-top: 7px;
	margin-right:7px;
	float: right;
	background-color: #FFF;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.title_r a{ 
    float:right;	
    color: #000;
	font-size: 14px;
	font-weight: normal;
	margin-right:10px;
	padding:0 5px;
}

.title_r a:hover{
	text-decoration: underline;
}

.hr {
	clear: both;
	margin: 0 auto;
	padding: 0px !important;
	width: 100% !important;
	height: auto;
	height: 100%;
	border-bottom: 1px solid #DDD;
}
.Reci {
	height: 30px;
	line-height: 30px;
	padding-top: 10px;
	overflow: hidden;
	margin-left:30px;
}
.Reci span {
	font-weight: bold;
	margin-right: 10px;
}
.Reci a {
	margin-right: 5px;
}
.Tuijian span {
	font-weight: bold;
	margin-right: 10px;
	float: left;
	color: #390;
}
.Tuijian a {
	margin-right: 8px;
	float: left;
}
.Tuijian a:hover {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.Toph {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #f5f5f5;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e8e8e8;
}
.Toph .TopTime {
	width: 250px;
	color: #666;
	float: left;
}
.Toph .TopTime span {
	
}
.Toph .Tophr {
	float: right;
	margin-left: 10px;
}
.btn-slide {
}
.BoxTit {
	width: 730px;
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f3f3f3;
}
.BoxTit_w {
	width: 975px;
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f3f3f3;
}
.BoxTit_w a{

}
.l_tit {
	width: 60px;
	float: left;
	padding-left: 10px;
	color: #900;
	background-image: url(../images/lico.png);
	background-repeat: no-repeat;
	background-position: 50px 13px;
}
.l_tit2 {
	width: 60px;
	float: left;
	padding-left: 10px;
	color: #060;
	background-image: url(../images/lico.png);
	background-repeat: no-repeat;
	background-position: 50px 13px;
}
.l_tit3 {
	width: 60px;
	float: left;
	padding-left: 10px;
	color: #C60;
	background-image: url(../images/lico.png);
	background-repeat: no-repeat;
	background-position: 50px 13px;
}
.l_tit4 {
	width: 60px;
	float: left;
	padding-left: 10px;
	color: #913d9f;
	background-image: url(../images/lico.png);
	background-repeat: no-repeat;
	background-position: 50px 13px;
}
.Urlist {
	float: left;
}
.Urlist li{
	width: 98px;
	height: 35px;
	float: left;
	color: #e8e8e8;
	overflow: hidden;
}
.Urlist li a{
	width: 98px;
	height: 35px;
	color: #666;
}
.Urlist li a:hover{
	color: #F60;
}
.Urlist_w {
	float: left;
	line-height:30px;
	padding:5px 10px;
}
.Urlist_w a{
	color: #333;
}
.lr {
	float: right;
	padding-right:10px;
}
.lr a {
	color: #3CC;
}
.Urlist li, .Urlist_w li, .Urlist2 li {
	list-style-image: none;
	list-style-type: none;
}
.Urlist li, .Urlist_w li {
	float: left;
	margin-right: 10px;
}
.Urlist2{
	overflow: hidden;
	width:1005px;
}

.Urlist2 li {
	width: 117px;
	height:40px;
	line-height: 40px;
	float: left;
	margin:0 4px 5px 1px;
	color: #069;
	border: 1px solid #5fc6d0;
}
.Urlist2 li img{
	margin-top:12px;
	margin-left:8px;
	margin-right:8px;
	float: left;
}
.Urlist2 li:hover{
	background-color: #5fc6d0
}
.Urlist2 li a{
	color: #007e8c;
}
.Urlist2 li a:hover{
	color: #fff;
}
.skinbox {
	background-color: #fff;
	padding: 10px 0;
	overflow: hidden;
	text-align: center;
}
.my_skin {
	width: 1010px;
	margin: 0 auto;
}
.skinbox li {
	width: 190px;
	height: 138px;
	list-style-image: none;
	list-style-type: none;
	float: left;
	background-color: #eee;
	padding: 1px;
	text-align: center;
	margin: 0 5px 10px 5px;
}
.skinbox li:hover {
	background-color: #0C9;
}
.skinbox img {
	float:left;
	width: 190px;
	height: 108px;
}
.skinbox li span {
	width: 190px;
	height: 30px;
	line-height:30px;
	float: left;
}
.skinnav {
	height: 30px;
	background-color: #eee;
}
.skinnav ul {
	width: 1000px;
	margin: 0 auto;
}
.skinnav ul li {
	width: 80px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
	margin-right: 1px;
	list-style-image: none;
	list-style-type: none;
}
.skinnav ul li a {
	width: 80px;
	height: 30px;
	display: block;
	background-color: #e1e1e1;
}
.skinnav ul li a:hover {
	background-color: #999;
	color: #FFF;
}
.skinnav .skinok {
	width: 80px;
	height: 30px;
	background-color: #000;
	line-height: 30px;
	float: right;
	margin-right: 0px;
	text-align: center;
	font-weight: bold;
}
.skinnav .skinok a {
	color: #FFF;
	display: block;
}
.skinnav .skinok2{
	width: 80px;
	height: 30px;
	background-color: #ccc;
	line-height: 30px;
	float: right;
	margin-right: 0px;
	text-align: center;
}
.skinnav .skinok2 a {
	color: #444;
	display: block;
}
.postion{
	font-size: 14px;
	font-weight: normal;
	padding-right:10px;
	color:#666;
}
.postion a{ color:#666}
.list_li{
	width: 116px;
	height: 35px;
	float:left;
	line-height:35px;
	margin-left:5px;
	margin-bottom:5px;
	background-color: #fff;
	text-align: center;
	border: 1px solid #9cc;
	overflow:hidden;
}
.list_li a{
	width: 116px;
	height: 35px;
	color: #09C;
	display: block;
}

.list_li a:hover{
	color: #fff;
}


.list_li:hover{
	background-color: #099;
}



.bbox1{
	width: 330px;
	overflow: hidden;
	display: block;
	margin-right:5px;
	padding-bottom:10px;
	}

.bbox2{
	width: 330px;
	padding-bottom:10px;
	overflow: hidden;

	}


.Urlistb{ padding:5px}

.Urlistb li{ width:70px; line-height:30px; float:left; margin-left:8px;	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #ddd;
}
.Urlistb li a{
	color: #666;
}
.Urlistb li a:hover{
	color: #F60;
	background-color: #eee;
}



.soulu{
	padding: 10px;
	line-height: 27px;
	color: #666;
	}

.soulu li{
	list-style-type: disc;
	list-style-position: inside;
	}

.soulu .tishi{
	width: 960px;
	background-color: #f8f8f8;
	margin: 10px 0;
	padding:10px;
	color: #F00;
	font-weight: bold;	}

.soulu .tishi p{
	width:100%;
	line-height:30px;
	float:left;
	}

.soulu .tishi b{
	color: #000;
	vertical-align:7px;
	}
	
.all_list{ height:210px;}

.soulu .link-int{width:873px; margin-top:10px; }
.baidusubmit {
	background-color: #09C;
	color: #FFF;
	font-size:14px;
	font-weight: bold;
	height:25px;
	border: 0;

}

.vote_bnt{
	background-color: #09C;
	color: #FFF;
	font-weight: bold;
	border: 0;
	float:right;
}

.plug_publish_add dt{ float:left; padding:5px;}
